src/main/java/org/example/proxy/.wsdl

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://example.org/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://example.org/" name="BankWs">
<types>
<xsd:schema>
<xsd:import namespace="http://example.org/" schemaLocation="http://localhost:90/?xsd=1"></xsd:import>
</xsd:schema>
</types>
<message name="Convert">
<part name="parameters" element="tns:Convert"></part>
</message>
<message name="ConvertResponse">
<part name="parameters" element="tns:ConvertResponse"></part>
</message>
<message name="GetAccount">
<part name="parameters" element="tns:GetAccount"></part>
</message>
<message name="GetAccountResponse">
<part name="parameters" element="tns:GetAccountResponse"></part>
</message>
<message name="GetAccounts">
<part name="parameters" element="tns:GetAccounts"></part>
</message>
<message name="GetAccountsResponse">
<part name="parameters" element="tns:GetAccountsResponse"></part>
</message>
<portType name="BankService">
<operation name="Convert">
<input wsam:Action="http://example.org/BankService/ConvertRequest" message="tns:Convert"></input>
<output wsam:Action="http://example.org/BankService/ConvertResponse" message="tns:ConvertResponse"></output>
</operation>
<operation name="GetAccount">
<input wsam:Action="http://example.org/BankService/GetAccountRequest" message="tns:GetAccount"></input>
<output wsam:Action="http://example.org/BankService/GetAccountResponse" message="tns:GetAccountResponse"></output>
</operation>
<operation name="GetAccounts">
<input wsam:Action="http://example.org/BankService/GetAccountsRequest" message="tns:GetAccounts"></input>
<output wsam:Action="http://example.org/BankService/GetAccountsResponse" message="tns:GetAccountsResponse"></output>
</operation>
</portType>
<binding name="BankServicePortBinding" type="tns:BankService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"></soap:binding>
<operation name="Convert">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="GetAccount">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="GetAccounts">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
</binding>
<service name="BankWs">
<port name="BankServicePort" binding="tns:BankServicePortBinding">
<soap:address location="http://localhost:90/"></soap:address>
</port>
</service>
</definitions>